*{
    margin:0;
    padding:0;
    outline:0;
    box-sizing:border-box;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;

    background-color: #ffffffe5 !important;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

label{
    margin: 0 !important;
    padding-left:2em; 
}

ul{
    list-style:none;
}

div.content-box{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    position: absolute;
    display: flex;
    justify-content: center;
    
    align-items: center;
}

a.close-x{
    text-decoration: NONE;
    color: #fff;
}
a.close-x:hover{
    color: rgba(255, 255, 255, 0.568);
    text-decoration: none;
}

p.error{
    text-align: center;
    margin: 1em;
}
span.close-pop{
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    right: 10px;
    bottom: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid;
    padding: 1em;
    margin: 1em;
    border-radius: 50%;    
    background: #940e0e87;
    color: #fff;
}

div.content-box form{
    width: 400px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

div.content-box form ul.ul-container{
    width: 100%;
    max-width: 100%;

    padding: 1em;
    margin: 0;
    box-sizing: content-box;

    display: flex;
    flex-direction: column;
    flex-shrink: 1;

    border:1px solid rgba(204, 204, 204, 0.774);
    border-radius: 4px;
    box-shadow: 1px 2px 3px rgba(204, 204, 204, 0.356);

    color: #fff;
}

div.content-box form ul.ul-container li {
    position: relative;
}

div.wrap{
    display: flex;
    justify-content: center;
}

/*Style check-buttons*/

/*
    Input atribuindo propriedades que ficaram invisiveis com opacidade 0;
*/
input.select-custom{
    width: 15px;
    height: 15px;
    position: absolute;
    top:25%;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

/*
    Nossa span.custom-check será o visual que irá ser mostrado para o usuário
    assim temos algumas propriedades a mais para trabalhar.

    Importante dizer que o tamanho da span seja o mesmo que o input, para não houver
    conflitos nos efeitos de transição como hover;
*/
span.custom-check{
    position: absolute;
    top: 25%;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}

/*
    Definimos as cores primarias para cada status do nosso checkbox (estilizado que é a span).

    O operador digamos assim ~;

    siginifica que todos os elementos após o seletor será afetado.
    No nosso caso temos um selector antes do ~ e logo após nosso checkbox estilizado.

    Assim garantimos que após o seletor especificado se houver nossa span será alterada
    estilizada!
*/

div.content-box form ul.ul-container li:hover input ~ span.custom-check {
    background-color: #313030;
}

div.content-box form ul.ul-container li input:checked ~ span.custom-check {
    background-color: #2196F3;
}

/*
    Se não tiver ação no nosso pseudo elemento ::after não mostra nada.
*/

span.custom-check::after{
    content: "";
    position: absolute;
    display: none;
}

/*
    Caso o input está com a propriedade checked como true nossa span
    recebe o display para a visualização da checkbox estilizada!
*/

input:checked ~ span.custom-check::after {
    display: block;
}
/*
    Uma sub div como costumo chamar os pseudo elemento.

    Aqui definimos nossa pseudo quando ativavel no input::checked;
*/
div.content-box form ul.ul-container li span.custom-check::after{
    width: 5px;
    height: 10px;
    display: block;
    left: 5px;
    top: 0;
    right: 0;
    border: solid #f2f2f2f2;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

